# Fashint folder: ignore everything except important files/folders
fashint/
!fashint/important_file.py
!fashint/important_folder/
!fashint/important_folder/**

# Dataimages folder: ignore everything except specific files/folders
dataimages/
!dataimages/logo.png
!dataimages/required_folder/
!dataimages/required_folder/**

# Python virtual environments
venv/
fashint/lib/
pyenv.cfg

# Python bytecode
*.pyc
__pycache__/
