# macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Python model files and archives
*.pt
*.zip

# Ignore everything in dataimages
dataimages/*

# But keep these specific files/folders
!dataimages/logo.png
!dataimages/required_folder/
!dataimages/required_folder/**

# Python virtual environments
venv/
fashint/lib/
pyenv.cfg

# Python bytecode
*.pyc
__pycache__/

share/*

images/*

output_segmented/*